/* 
    ibp-psng-print - Print stylesheet
*/

.print-only {
    display: inline;
}

@page {margin: 1cm;}

.navigation, #header img, #footer, #tabs {
    display: none;    
}

.metadata {
    display: none;
}

h2 {
    page-break-before: always;
}


/* tables */

table {
	border-collapse: collapse;
	margin-top: 1em;
	border: 1px solid black;
}

table.width50pc {
    width: 50%;    
}

table.width75pc {
    width: 75%;    
}



table.four-column-60-10-10-10 td {
    width:60%    
}

table.four-column-60-10-10-10 td + td {
    width:10%    
}


table.four-column td {
    width: 25%;      
}

table.three-column td {
    width: 33%;      
}

table.two-column td {
    width: 50%;      
}

table.two-column-20-80 td {
    width: 20%;   
}

table.two-column-20-80 td + td {
    width: 80%;   
}

table.two-column-80-20 td {
    width: 80%;
}

table.two-column-80-20 td +td {
    width: 20%;
}

table.three-column-20-20-60 td {
    width: 20%;
}

table.three-column-20-20-60 td +td {
    width: 20%;
}

table.three-column-20-20-60 td + td + td{
    width: 60%;
}

table.noBorderList ul {
    margin: 0em 1.5em;   
}


.noBorder *,  .noBorderList *{
    border-style: none;    
}

.noTopBorder * {
    border-top: none;    
}

.noBotBorder * {
    border-bottom: none;    
}

.noCellMargin td {
    margin-bottom: 0em;  
    margin-top: 0em;
    padding-bottom: 0em; 
    padding-top: 0em;    
}

td, th {
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	vertical-align: top;
}

th {
	font-weight: bold;
	color: #888888;
	background-color: #ececec;
}

.centred, .Tableheadercentred, .Tablebodycentred {
	text-align: center;
}

.boldItalic {
    font-weight: bold;
    font-style: italic;    
}

p.tableBodyWithout, p.tablebodywithout,p.bodyWithoutSpacing, p.listItemWithout {
    margin-bottom: 0em;
}

.bodyWithoutSpacing p {
    margin-bottom: 0em;    
}

p.tableBodyWithoutCentred, tablebodywithoutCentred{
    margin-bottom: 0em;
	text-align: center;
} 

.cell {
    display: table-row;    
}

div.infobox {
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	background-color: #ececec;
	padding: 1em;
	margin-bottom: 1em;
}

.changed {
/* add a change bar */
	border-left: 2px solid #019cd5;
	padding-left: 0.5em;
}

.underline {
    text-decoration: underline;    
}



/* links */

a {
	color: #094de0;	
}

blockquote {
    font-style: normal;    
}

blockquote + * {
    clear: both; 
    padding-top: 2em;    
}

.attribution {
    display : block;
    float: right;    
}


.documentInfoTitle {
    font-weight: bold;   
}

#salesContactDetails p, #IBContactDetails p {
    margin-bottom: 0em;
}

p.copyrightLine {
    margin-top: 1em;
}

#footer {
    margin-top: 2em;    
}

#colophon {
    margin-top: 1em;    
}

ul ul  {
    list-style-type: circle;    
}

#tabs ul li {
    display: inline;
    list-style-type: none;
    background-color: #286CAD;
    padding-right: 0.5em; 
}

#tabs ul {
    padding-left: 0;
    margin-left: 0;        
}

#tabs ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.selected {
    background-color: red;    
}

.navSelected {
    font-weight: bold;    
}

.containerSelected {
    font-style: italic;    
}

 .liWithoutP {
    margin-top: 0em;
    margin-bottom: 1.5em;   
} 

#navigation .liWithoutP {
    margin-top: 0.1em;
    margin-bottom: 0.1em;    
}

/* for TSMs */

div#icons {
    padding-top: 8em;
    border: 1px solid black;
}

.icon {
	text-align: center;
}

.icon img {

    float: left;
}

.Notebody, .note {
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	background-color: #ececec;
	padding: 1em;
	margin-bottom: 1em;
}

.Noteheading {
    color: #888888;
    font-size: 138.5%;
    font-weight: bold;
}

.FAQquestion {
    font-weight: bold;
} 


/* Handbooks */

div.form-links-en h3:before {
    content: "Forms";
}

div.form-links-es h3:before {
    content: "Formularios";
}

div.form-links-fr h3:before {
    content: "Formulaires";
}



