.print-only {
    display: none;
}

#chapterBand {
    float:right;
    z-index: 10;    
}

.abscontainer {
    position: relative;    
}

body {
    min-width: 825px;   
}

#tabs * {
    margin-top: 0px; 
    padding-top: 0px; 
    margin-bottom: 0px;
    padding-bottom: 0px;    
}


#title-pyp {
    background-image: url(http://xmltwo.ibo.org/publications/images/pypChapterBandLeft.png);
    background-repeat: repeat-x; 
    position: relative;  
    height: 67px;
    z-index: -100;    
}

#title-myp {
    background-image: url(http://xmltwo.ibo.org/publications/images/mypChapterBandLeft.png);
    background-repeat: repeat-x;
    position: relative;   
    height: 67px;
    z-index: -100;        
}

#title-dp {
    background-image: url(http://xmltwo.ibo.org/publications/images/dpChapterBandLeft.png);
    background-repeat: repeat-x;  
    position: relative; 
    height: 67px; 
    z-index: -100;        
}

#title-cc {
    background-image: url(http://xmltwo.ibo.org/publications/images/ccChapterBandLeft.png);
    background-repeat: repeat-x;  
    position: relative; 
    height: 67px; 
    z-index: -100;        
}
#title-xp {
    background-image: url(http://xmltwo.ibo.org/publications/images/xpChapterBandLeft.png);
    background-repeat: repeat-x;  
    position: relative; 
    height: 67px; 
    z-index: -100;         
}


#pubTitle {
    display: block;
	color: white;
	font-size: 77%;
	padding-top: 7px;
	position: absolute;  right: 0; top: 0; left: auto;
	padding-right: 1em;
}
#partTitle {
	color: white;
	font-size: 93%;
	padding-top: 7px;
	padding-left: 20px;
    float: left;
    z-index: 200;
}

h2, div.seven > div.section h2 {
	color: white;
	font-size: 138.5%;
	font-weight: bold;
	margin-top: -40px;
	margin-bottom: 3em;
	margin-left: 20px;
	
	background-color: #019cd5;
	z-index: 100;
}


h3 {
    color: #888888;
    font-size: 180%;
    font-weight: bold;
    margin-top: 1.5em;
}

h4 {
    font-size: 150%;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}


h5, p.heading5, p.heading5Centred {
    font-size: 125%;
    margin-bottom: 0.5em;
    font-weight: bold;
}

p.heading5Centred, p.heading6Centred {
    text-align: center;
}

h6, h7 {
    color: #019cd5;
}

h6, p.heading6, p.heading6Centred {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 0.5em;
}

h7 {
    font-size: 110%;
}



/* navigation */

.navigation {
    margin-right: 1em;    
}


.navigation h3 {
    font-size: 100%;
    color: white;
	background-color: #019cd5;
	padding: 0.4em;
	margin-bottom: 0.3em;
}

.navigation ul {
	margin-left: 0em;
	margin-bottom: 0em;
}

.navigation li {
	list-style-image:none;
	list-style-position: outside;
	list-style-type:none;
	margin-bottom: 0.3em;
	padding-left: 0em;
	margin-left: -3em;
}

.navigation li a {
	color: #094de0;
}

.navigation li li {
    margin-left: -2.5em;
}

.navigation span.notInMenu {
    display:none;
}

#navigation li div.nonActivePart {
	color: white;
	background-color: #019cd5;
	padding: 0.2em;
}

#navigation .nonLink {
    font-weight: bold;
    color: #888888;
}

#navigation .link {
    text-decoration: underline;
}

/* tables */

table {
	border-collapse: collapse;
	margin-top: 1em;
}

table.width50pc {
    width: 50%;    
}

table.width75pc {
    width: 75%;    
}


table.centred {
    margin: auto;
}


table.four-column td {
    width: 25%;      
}

table.three-column td {
    width: 33%;      
}

table.two-column td {
    width: 50%;      
}

table.two-column-20-80 td {
    width: 20%;   
}

table.two-column-20-80 td + td {
    width: 80%;   
}

table.two-column-10-90 td {
    width: 10%;   
}

table.two-column-10-90 td + td {
    width: 90%;   
}

table.two-column-40-60 td {
    width: 40%;
}

table.two-column-40-60 td + td {
    width: 60%;
}


table.two-column-80-20 td {
    width: 80%;
}

table.two-column-80-20 td +td {
    width: 20%;
}

table.two-column-90-10 td {
    width: 90%;
}

table.two-column-90-10 td + td {
    width: 10%;
}


table.three-column-20-20-60 td {
    width: 20%;
}

table.three-column-20-20-60 td +td {
    width: 20%;
}

table.three-column-20-20-60 td + td + td{
    width: 60%;
}

table.three-column-20-40-40 td {
    width: 20%;
}

table.three-column-20-40-40 td +td {
    width: 40%;
}

table.three-column-20-60-20 td {
    width: 20%;
}

table.three-column-20-60-20 td +td {
    width: 60%;
}

table.three-column-20-60-20 td + td + td{
    width: 20%;
}

table.three-column-50-25-25 td {
    width: 50%;
}

table.three-column-50-25-25 td + td {
    width: 25%;
}

table.three-column-60-20-20 td {
    width: 60%;
}

table.three-column-60-20-20 td + td {
    width: 20%;
}

table.four-column-10-40-10-40 td {
    width: 10%;
}

table.four-column-10-40-10-40 td + td{
    width: 40%;
}

table.four-column-10-40-10-40 td + td + td {
    width: 10%;
}

table.four-column-10-40-10-40 td + td + td + td {
    width: 40%;
}


table.four-column-10-30-30-30 td { width: 10%; }
table.four-column-10-30-30-30 td + td { width: 30%; }

table.four-column-15-50-20-15 td {
    width: 15%;
}

table.four-column-15-50-20-15 td + td {
    width: 50%;
}

table.four-column-15-50-20-15 td + td + td {
    width: 20%;
}

table.four-column-15-50-20-15 td + td + td + td {
    width: 15%;
}


table.four-column-60-10-10-10 td {
    width:60%    
}

table.four-column-60-10-10-10 td + td {
    width:10%    
}

table.four-column-40-20-20-20 td {
    width: 40%;
}

table.four-column-40-20-20-20 td + td {
    width: 20%;
}



table.five-column-10-15-15-25-25 td {
    width: 10%;
}

table.five-column-10-15-15-25-25 td + td {
    width: 15%;
}

table.five-column-10-15-15-25-25 td + td + td {
    width: 15%;
}

table.five-column-10-15-15-25-25 td + td + td + td{
    width: 25%;
}

table.five-column-15-25-15-25-20 td {
    width: 15%;
}

table.five-column-15-25-15-25-20 td + td {
    width: 25%;
}

table.five-column-15-25-15-25-20 td + td + td {
    width: 15%;
}

table.five-column-15-25-15-25-20 td + td + td + td {
    width: 25%;
}

table.five-column-15-25-15-25-20 td + td + td + td + td {
    width: 20%;
}


table.five-column-40-10-10-10-30 td {
    width: 40%;
}

table.five-column-40-10-10-10-30 td + td {
    width: 10%;
}

table.five-column-40-10-10-10-30 td + td + td {
    width: 10%;
}

table.five-column-40-10-10-10-30 td + td + td + td {
    width: 10%;
}

table.five-column-40-10-10-10-30 td + td + td + td + td {
    width: 30%;
}

table.five-column-40-15-15-15-15 td {
    width: 40%;
}

table.five-column-40-15-15-15-15 td + td{
    width: 15%;
}


table.five-column-60-10-10-10-10 td {
    width: 60%;
}

table.five-column-60-10-10-10-10 td + td {
    width: 10%;
}


table.six-column-10-15-15-20-20-20 td {
    width: 10%;
}

table.six-column-10-15-15-20-20-20 td + td {
    width: 15%;
}

table.six-column-10-15-15-20-20-20 td + td + td{
    width: 15%;
}

table.six-column-10-15-15-20-20-20 td + td + td + td {
    width: 20%;
}

table.six-column-40-12-12-12-12-12 td {
    width: 40%;
}

table.six-column-40-12-12-12-12-12 td + td {
    width: 12%;
}

table.six-column-50-10-10-10-10-10 td {
    width: 50%;
}

table.six-column-50-10-10-10-10-10 td + td {
    width: 10%;
}


table.six-column-10-15-15-20-20-20 td {
    width: 10%;
}


table.six-column-10-15-15-20-20-20 td + td {
    width: 15%;
}

table.six-column-10-15-15-20-20-20 td + td + td {
    width: 15%;
}

table.six-column-10-15-15-20-20-20 td + td + td + td {
    width: 20%;
}

table.six-column-10-18-18-18-18-18 td {
    width: 10%;
}

table.six-column-10-18-18-18-18-18 td + td {
    width: 18%;
}


table.seven-column-40-10-10-10-10-10-10 td {
    width: 40%;
}

table.seven-column-40-10-10-10-10-10-10 td +td {
    width: 10%;
}

table.seven-column-10-15-15-15-15-15-15 td {
    width: 10%;
}

table.seven-column-10-15-15-15-15-15-15 td + td {
    width: 15%;
}

table.eight-column-30-10-10-10-10-10-10-10 td {width: 30%;}
table.eight-column-30-10-10-10-10-10-10-10 td+td {width: 10%;}

table.nine-column-50-7 td { width: 50%; }
table.nine-column-50-7 td + td { width: 7%; }


table.noBorderList ul {
    margin: 0em 1.5em;   
}

table.criterion {
    width: 100%;
}

table.assessmentOutline {
    width: 100%;
}

table.criterion th  {
    width: 15%;
    text-align: center;
}

table.criterion th + th{
    width: 85%;
    text-align: left;
}

table.glossary td, 
table.glossary.th
{
    border-style: none;
}


.glossterm, .Glossaryterm {
    font-weight: bold;
    color: #888888;
}






.noBorder *,  .noBorderList *{
    border-style: none;    
}

.noTopBorder * {
    border-top: none;    
}

.noTopBorder {
    border-top: none;
}

.noBotBorder * {
    border-bottom: none;    
}

.noBotBorder {
    border-bottom: none;    
}


.noCellMargin td {
    margin-bottom: 0em;  
    margin-top: 0em;
    padding-bottom: 0em; 
    padding-top: 0em;    
}

td, th {
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	vertical-align: top;
}

th, thead th {
	font-weight: bold;
	color: #888888;
	background-color: #ececec;
}

.centred, .Tableheadercentred, .Tablebodycentred {
	text-align: center;
}

td ul {
    margin-left: 0;
    padding-left: 1.5em;
    margin-right: 0;
    padding-right: 0em;
    line-height: 1.1em;
}

.boldItalic {
    font-weight: bold;
    font-style: italic;    
}

p.tableBodyWithout, p.tablebodywithout,p.bodyWithoutSpacing, p.listItemWithout {
    margin-bottom: 0em;
}

.bodyWithoutSpacing p {
    margin-bottom: 0em;    
}

p.tableBodyWithoutCentred, tablebodywithoutCentred{
    margin-bottom: 0em;
	text-align: center;
} 

p.display, p.Display {
    color: #888888;
    font-weight: bold;
    margin-bottom: 0.5em;
}

span.display {
    color: #888888;
}

span.tab {
    margin-right: 1em;
}

.cell {
    display: table-row;    
}

div.infobox, div.firstExamsBox, div.Notefirstexaminations {
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	background-color: #ececec;
	padding: 1em;
	margin-bottom: 1em;
}

div.firstExamsBox, div.Notefirstexaminations {
    text-align: center;
    color: #888888;
}

.changed {
/* add a change bar */
	border-left: 2px solid #019cd5;
	padding-left: 0.5em;
}

.underline {
    text-decoration: underline;    
}

.small-caps {
    font-variant: small-caps;
}

span.footnote {
	margin: 1em;
	width: 25%;
	float: right; 
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	background-color: #ececec;
	padding: 1em;
}



/* links */

a {
	color: #094de0;	
}

blockquote {
    font-style: normal;
    color: black;    
}

blockquote + * {
    clear: both; 
    padding-top: 2em;    
}

.attribution, Quotereference {
    display : block;
    float: right;    
}


.documentInfoTitle {
    font-weight: bold;   
}

#salesContactDetails p, #IBContactDetails p {
    margin-bottom: 0em;
}

#tradeMarks p {
    margin-top: 1em;
}

p.copyrightLine {
    margin-top: 1em;
}

#footer {
    margin-top: 2em;    
}

#colophon {
    margin-top: 1em;    
}

ul ul  {
    list-style-type: circle;    
}

ol.lower-alpha {
    list-style-type: lower-alpha;
}

ol.lower-roman {
    list-style-type: lower-roman;
}

#tabs ul li {
    display: inline;
    list-style-type: none;
    background-color: #286CAD;
    padding-right: 0.5em; 
}

#tabs ul {
    padding-left: 0;
    margin-left: 0;        
}

#tabs ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.selected {
    background-color: red;    
}

.navSelected {
    font-weight: bold;    
}

.containerSelected {
    font-style: italic;    
}

 .liWithoutP {
    margin-top: 0em;
    margin-bottom: 0.5em;   
} 

#navigation .liWithoutP {
    margin-top: 0.1em;
    margin-bottom: 0.1em;    
}

/* for TSMs */

div#icons {
    padding-top: 8em;
}
.icon {
	float: left;
}

.icon p {
    text-align: left;
}

.Notebody, .note {
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	background-color: #ececec;
	padding: 1em;
	margin-bottom: 1em;
}

.Noteheading {
    font-weight: bold;
	color: #888888;
}

.FAQquestion {
    font-weight: bold;
}

p.Captionnumbercentred {
	text-align: center;
	font-weight: bold;
	color: #888888;
}

p.Captiontextcentred {
	text-align: center;
	font-style: italic;
}

/* for sui */
table.suiOverview td {
    width: 10%;
}

table.suiOverview td + td {
    width: 10%;
}

table.suiOverview td + td + td {
    width: 20%;
}

table.suiOverview td + td + td + td {
    width: 10%;
}

table.suiOverview td + td + td +td +td {
    width: 50%;
}

.tag {
    color: blue;
}

.tagcloud {
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	background-color: #ececec;
	padding: 1em;
	margin-bottom: 1em;
	font-size: 138.5%;
}

 div.section h2  {
	font-size: 150%;
	font-weight: bold;
	color: black;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;	
	background-color: white;
	z-index: 100;

} 

#download_button img {
    margin-top: 3em;
}

.prog, .prog2, .prog3 {
    font-family: monospace;
    font-size: 1.2em;
}

.prog {
    margin-left: 2em;
    padding-left: 0em;
}

.prog2 {
    margin-left: 4em;
    padding-left: 0em;    
}

.prog3 {
    margin-left: 6em;
    padding-left: 0em;    
}

a[name] {
    text-decoration: none;
}


